.showTransac {
  text-align: center;
  margin-top: 20px;
  span {
    background-color: #386bff;
    color: white;
    border: none;
    padding: 14px 31px;
    outline: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 500;
  }
}
.graph {
  width: 100%;
  margin-top: 50px;
}
