<nav>
    <div class="logo">Financial Spend Analyzer</div>
    <div class="menu">
        <ul>
            <li><a [routerLink]="['/home']"  href="#">Home</a></li>
            <li><a [routerLink]="['/dashboard']" href="#">Dasboard</a></li>
            <li><a [routerLink]="['/transaction']" href="#">Transactions</a></li>
        </ul>
    </div>
</nav>
<div>
    <span>Customer id :{{id}}</span>
    <div class="makePayment">
        Make A Payment
    </div>
    <form [formGroup] = "myform" (ngSubmit)="onSubmit()" >
        <div class="form">
           <label for=""> Amount
            <input type="number" formControlName="amount" class="formInput" placeholder="Enter Amount">
           </label> 
           <label for="">
               Category of Spend
               <input type = "text" class="formInput"  formControlName="categoryOfSpend"placeholder="Cateroy of spend">
           </label>
           <label for="">
               Transaction Description
               <input type = "text" class="formInput" class="formInput" formControlName="transactionDescription" placeholder="  Transaction Description">
                   
           </label>
           <button type="submit">
               Submit
           </button>
        </div>
    </form>
</div>
