<app-nav></app-nav>
<div>
  <span>Customer id :{{ id }}</span>
  <div class="makePayment">Make A Payment</div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">
    <div class="form">
      <label for=""> Amount </label>
      <input
        type="number"
        formControlName="amount"
        class="formInput"
        placeholder="Enter Amount"
      />

      <label for=""> </label>
      Category of Spend
      <input
        type="text"
        class="formInput"
        formControlName="categoryOfSpend"
        placeholder="Cateroy of spend"
      />

      <label for=""> </label>
      Transaction Description
      <input
        type="text"
        class="formInput"
        class="formInput"
        formControlName="transactionDescription"
        placeholder="  Transaction Description"
      />

      <button type="submit">Submit</button>
    </div>
  </form>
</div>
