<nav>
    <div class="logo">Financial Spend Analyzer</div>
    <div class="menu">
        <ul>
            <li><a [routerLink]="['/home']"  href="#">Home</a></li>
            <li><a [routerLink]="['/dashboard']" href="#">Dasboard</a></li>
            <li><a [routerLink]="['/transaction']" href="#">Transactions</a></li>
        </ul>
    </div>
</nav>
<div>
    <span>Customer id :{{id}}</span>
    <div class="">
        Make A Payment
    </div>
    <form [formGroup] = "myform" (ngSubmit)="onSubmit()" >
        <div>
           <label for=""> Amount
            <input type="number" formControlName="amount">
           </label> 
           <label for="">
               Category of Spend
               <input type = "text" formControlName="transactionDescription">
           </label>
           <label for="">
               Transaction Description
               <textarea rows="4" cols="50" name="comment" form="usrform" formControlName="categoryOfSpend">
                   </textarea>
           </label>
           <button type="submit">
               Submit
           </button>
        </div>
    </form>
</div>
